#container
{ 
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width: 50%;
}

#UsernameP
{
	
	font-family: Arial;
	color:#fa983a;
	font-size: 25px;
}

#PasswordP
{
	font-family: Arial;
	color:#fa983a;
	font-size: 25px;
}

#EmailP
{
	
	font-family: Arial;
	color:#fa983a;
	font-size: 25px;
}

#FnameP
{
	font-family: Arial;
	color:#fa983a;
	font-size: 25px;
}

#LnameP
{
	
	font-family: Arial;
	color:#fa983a;
	font-size: 25px;
}

#SecureP
{
	
	font-family: Arial;
	color:#fa983a;
	font-size: 25px;
}


